body {
	/*TODO: Set the background-color
	For possible color palletes visit https://coolors.co/app
	Or just google "html colors" and pick one you like*/
}

h1 {
	/*TODO:Center the h1 text
	  Hint: use width and margin
	  Hint: look back at last week's slides tinyurl.com/GDIRIC*/
	margin-top: 15px;
}

.navbar-nav > li > a{
	/* TODO: Set the color of the navigtion bar links
	For possible color palletes visit https://coolors.co/app
	Or just google "html colors" and pick one you like*/
}

.navbar-nav > li > a:hover {
	color: #493F4C;
}

.container {
	/* TODO: Depending on how much text you added to index.html,
		you may want to decrease margin-top*/
	margin-top: 300px;

	/* TODO: Set the background-color
	For possible color palletes visit https://coolors.co/app
	Or just google "html colors" and pick one you like*/
}


/*TODO: Style your paragraph (<p>)
	1. Select a paragraph using css, remember that it has an id of "intro"
		Review week 4 notes if you forget how to do that 
	2. Inside the {} Change the font-size to a size you like
		we recommend using pixels (ex: 10px), increase until the size is what you want
	3. Inside the {}, center the paragraph, like you did for h1
*/


.container .image {
	/*TODO:Center the image
	  Hint: use width and margin
	  Hint: look back at last week's slides tinyurl.com/GDIRIC*/
}