body {
	/*TODO: Pick a color and background color*/
	background-color: #493F4C;
}

/*CODEME: Potential challenge, default width to 0 and have them figure out the width*/
h1 {
	width: 691px;
	margin: auto;
	margin-top: 15px;
}

.navbar-nav > li > a{
	color: #F9EFB3;
}

.navbar-nav > li > a:hover {
	color: #493F4C;
}

.container {
	margin-top: 300px;
	color: #F9EFB3;
}

.container p {
	width: 685px;
	margin: auto;
}

.container .image {
	margin: auto;
	width: 200px;
}