body {
	/*TODO: Set the background-color
	For possible color palletes visit https://coolors.co/app
	Or just google "html colors" and pick one you like*/
}

h1 {
	/*TODO:Center the h1 text
	  Hint: Use text-align
	  Hint: look back at last week's slides tinyurl.com/GDIRIC*/
	margin-top: 15px;
}

a {
	/* TODO: Set the color of the navigation bar links
	For possible color palletes visit https://coolors.co/app
	Or just google "html colors" and pick one you like*/
}

a:hover {
	color: #493F4C;
}

.container {
	/* TODO: Depending on how much text you added to index.html,
		you may want to decrease margin-top*/
	margin-top: 300px;

	/* TODO: Set the color of .container
	For possible color palletes visit https://coolors.co/app
	Or just google "html colors" and pick one you like*/
}


/*TODO: Style your paragraph (<p>)
	1. Select a paragraph using css, remember that it has an id of "intro"
		Review week 4 notes if you forget how to do that 
	2. Inside the {} Change the font-size to a size you like
		we recommend using pixels (ex: 10px), increase until the size is what you want
	3. Inside the {}, center the paragraph, like you did for h1
*/


.container .image {
	/*TODO:Center the image
	  Hint: use width and margin
	  Hint: look back at last week's slides tinyurl.com/GDIRIC
	  Hint: if you have trouble with width, try changing the width in the html;*/
}

.social ul li {
	/*TODO BONUS - Make the Social Media icons look nicer
	 1. Avoid using a bulletted list, write: "list-style: none;";
	 2. Use padding to space out the icons
	 3. List Items (<li>) are block elements, to make them appear in 1 line,
	 what do you need them to be treated as?  Hint: display;
	 */
}

.social i {
	/*TODO BONUS - Adjust the size of the icons
	Essentially CSS is treating the icons like text
	1. Declare a width and height, start with 30px but choose a number that looks good to you
	2. Set the color and background-color (start with white and gray, but choose a color you like)
	3. Set a font-size (start with 20px and work up)
	4. Center the "text"
	5. Add some padding-top
	6. Use border-radius: 50%; to create a circle
	7. The rest is handled for you in socialmedia.css, feel free to poke around to see how it's implemented*/
}